a.c-icon4 {
    width: 52px;
    height: 20px;
    background: url(//static.abhibus.com/img/sprites-final1.png) no-repeat -8px -975px;
    display: inline-block;
}
a.c-icon2 {
    width: 52px;
    height: 20px;
    background: url(//static.abhibus.com/img/sprites-final1.png) no-repeat 0 -909px;
    display: inline-block;
}
a.c-icon3 {
    width: 64px;
    height: 20px;
    background: url(//static.abhibus.com/img/sprites-final1.png) no-repeat -136px -911px;
    display: inline-block;
    margin-left: 4px;
}
a.c-icon1 {
    width: 52px;
    height: 20px;
    background: url(//static.abhibus.com/img/sprites-final1.png) no-repeat -68px -911px;
    display: inline-block;
}
.ccicons {
    text-align: left;
    right: 10px;
    margin-top: 15px;
    margin-left: 0px;
    display: block;
}