.sleeper-seat {
    width: 56px;
    height: 18px;
    border: 1px solid #979797;
    display: inline-block;
    position: relative;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-right: 10px;
    cursor: pointer;
    .sleeper-seat-section {
        position: absolute;
        top: 2px;
        bottom: 2px;
        width: 4px;
        right: 2px;
        border: 1px solid #979797;
        border-radius: 2px;
    }
}
.selected {
    background-color: lightgreen;
}