.filterRow{
  border-radius: 4px;
  background-color: #fff;
  .filterColumn{
    padding: 15px 20px;
    border-bottom: 1px solid #e3e6e6;
  }
  .filterColumnTopHeader{
    font-weight: 600;
    color: #4d4d4d;
    margin: 0;
    font-size: 18px;
    font-size: 1rem;
    padding: 15px 20px;
    border-bottom: 1px solid #e3e6e6;
  }
  .filterColumnHeader{
    font-size: 12px;
    font-weight: 700;
    color: #666;
    letter-spacing: .6px;
  }
}
input[type="checkbox"]{
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    border-radius: 1px;
    box-sizing: border-box;
    position: relative;
    box-sizing: content-box ;
    width: 15px;
    height: 15px;
    border: 1px solid blue;
    transition: all .3s linear;
    }
    input[type="checkbox"]:checked{
      background-color: #2ECC71;
    }
    input[type="checkbox"]:focus{
      outline: 0 none;
      box-shadow: none;
    }