.travellerFormContainer {
  margin: 15px 0 15px 0;
  .travellerFormHeading {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #4a4a4a;
    margin-bottom: 5px;
  }
  .travellerFormContent {
    clear: both;
  }
}
