.bus-detail {
    border: .5px solid #979797;
    padding-left: 75px;
    position: relative;
    margin-bottom: 15px;
    margin-left: 15px;
}

.boarding-point {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dropping-point {
    margin-bottom: 20px; 
}
.bus-collapse {
    margin-top: 30px;
}
.aGYy {
    background-color: #fff;
    border: 1px solid #e3e6e6;
    min-height: 200px;
    max-height: 575px;
    padding: 20px;
    margin-left: 25px;
}
.error-message {
    color: red;
    font-size: 13px;    
}