.topbusroute {
  border: 1px solid #deeaee;
  background: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 7px auto 15px;
  padding: 20px;
  margin-top: 80px;
  h3 {
    display: block;
    width: 100%;
    font-size: 13px;
    font-weight: 800;
    color: #000;
    margin: 0;
    padding-bottom: 20px;
  }
}
.panel-footer {
  padding: 9px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.grayscale {
  height: 100%;
  border: 1px solid #deeaee;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
