.seat {
  position: relative;
  width: 23px;
  height: 15px;
  border: 1px solid #979797;
  display: inline-block;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
  color: #fff;
  background: currentColor;

  &.reserved-for-lady {
    color: yellow;
  }
  &.selected {
    color: lightgreen;
  }
  &.reserved-by-lady {
    color: #ff8eb5;
  }
  &.occupied {
    pointer-events: none;
    color: #c1c1c1;
  }
  .seat-top {
    top: -4px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: none !important;
    position: absolute;
    border: 1px solid #979797;
    height: 3px;
    right: -1px;
    width: 12px;
    background: currentColor;
  }
  .seat-bottom {
    width: 12px;
    bottom: -4px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: none !important;
    position: absolute;
    border: 1px solid #979797;
    height: 3px;
    right: -1px;
    background: currentColor;
  }
  .seat-right {
    height: 9px;
    width: 3px;
    height: 12px;
    right: -4px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-left: none !important;
    position: absolute;
    border: 1px solid #979797;
    background: currentColor;
  }
}

.selected {
  background-color: lightgreen;
}
.occupied {
  background: #c1c1c1;
  border: 1px solid #c1c1c1;
  pointer-events: none;
}
.reserved-by-lady {
  background-color: #ff8eb5;
  pointer-events: none;
  border: 1px solid #ff8eb5 !important;
}
.reserved-for-lady {
  background-color: yellow;
}
.hidden-seat {
  visibility: hidden;
}
