.header-tab {
    background-color: #E9EDEE;
}

.passenger-info {
    border: 1px solid #e3e6e6;
    margin-bottom: 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    .banner{
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: 600;
        color: #4a4a4a;
        padding: 10px;
        background: #e9edee;
        position: relative;
        transition: all .3s;
        border-bottom: 1px solid #fff;
        .bannerheader{
            border-radius: 50%;
            padding: 5px 6px;
            background: #fff;
            font-size: 10px;
            font-size: 1rem;
            font-weight: 600;
            color: #9b9b9b;
            margin-right: 15px;
            vertical-align: middle;
        }
    }
    .passengercontaint{
        background: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-top: 7px;
        padding-bottom: 22px;
        padding-left: 20px;
        padding-right: 20px;
       // position: relative;
    }
}