@media all and (min-width: 480px) {
    .forgot {
      padding: 60px 0;
    }
  
    .forgot form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  .forgot-form {
    height: 300px;
    width: 40%;
    border: 1px #DDDDDD solid;
    margin-left: 30%;
  }
  .heading {
      margin-bottom: 30px;
      margin-top: 10px;
  }
  .main-heading {
    margin-top: 10px;
    margin-left: 20px;
  }